
table {
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

td {
	border: 1px solid black;
}

th {
	border: 1px solid red;
}

input {
	border: none;
	text-align: center;
	width: 95%;
}

.page {
	margin-top: 400%;
}

a {
	margin-left: 20px;
	margin-top: 10px;
}

div {
	margin-bottom: 10px;
}
